.carousel {
  flex: 4;
}

.form_wrapper {
  gap: 3rem;
  height: 100%;
  display: flex;
  width: 100%;
  min-height: 100%;
  max-width: 544px;
  background-color: #171717;
  min-height: calc(100svh - 1.5rem * 2);

  border-radius: 0.75rem;
  padding: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  gap: 3rem;
  width: 100%;
  flex-direction: column;
}

.form_header {
  gap: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form_text_header {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.form_text_title {
  font-weight: 600;
  color: #ededed;
  font-size: 2rem;
}

.form_text_subtitle {
  font-weight: 500;
  color: #8a8a8a;
  font-size: 1rem;
}

.form_inputs {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form_input_group {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.form_submit {
  gap: 1rem;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.form_text {
  font-size: 12px;
  color: #ededed;
  font-weight: 600;
  white-space: break-spaces;
  & span {
    color: #9747ff;
  }
}

.form_error {
  font-size: 12px;
  font-weight: 600;
  color: #ef4444;
}

@media screen and (max-width: 584px) {
  .form_wrapper {
    padding: 2rem;
    max-width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
