.sidebar_menu {
  display: flex;
  min-width: 42px;
  min-height: 42px;
  align-items: center;
  border-radius: 12px;
  transition: all 0.4s;
  justify-content: center;

  &:hover {
    background-color: #30303070;
    cursor: pointer;
  }
}
