.sidebar_wrapper {
  max-width: 275px;
  min-width: 275px;
  width: 100%;

  flex: 1;
  gap: 1.5rem;
  height: 100%;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  border-radius: 0.75rem;
  align-items: flex-start;
  background-color: #171717;
  transition: all 0.4s ease;
  min-height: calc(100svh - 1.5rem * 2);
}

.sidebar_wrapper_closed {
  max-width: 94px;

  &.sidebar_wrapper {
    min-width: 94px;
    max-width: 94px;
  }
}

.sidebar_wrapper_closed > .sidebar_header > .sidebar_header_logo {
  display: none;
}

.sidebar_wrapper_closed .sidebar_menu_name {
  display: none;
}

.sidebar_wrapper_closed:hover {
  max-width: 275px;

  &.sidebar_wrapper {
    min-width: 275px;
  }

  & .sidebar_header > .sidebar_header_logo {
    display: flex;
  }

  & .sidebar_header {
    justify-content: space-between;
  }

  & .sidebar_menu_item {
    width: 100%;
  }

  & .sidebar_menu_name {
    display: initial;
  }
}

.sidebar_menu_list {
  gap: 0.75rem;
  width: 100%;
  display: flex;
  list-style: none;
  flex-direction: column;
}

.sidebar_header {
  width: 100%;
  transition: all 1s ease;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
}

.sidebar_menu_item {
  gap: 1rem;
  width: 100%;
  height: 46px;
  display: flex;
  padding: 1rem;
  overflow: hidden;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  min-width: 46px;
  font-size: 14px;
  max-height: 46px;
  user-select: none;
  flex-direction: row;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: flex-start;
  background-color: #202020;
}

.sidebar_menu_item:hover {
  transition: ease-out 0.2s;
  scale: 1.0251;
}

.sidebar_menu_icon {
  display: flex;
  height: 100%;
  max-width: 46px;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.sidebar_menu_icon svg path {
  stroke: #8a8a8a;
}

.sidebar_menu_name {
  width: 100%;
  color: #8a8a8a;
  white-space: nowrap;
}

.sidebar_menu_item_selected .sidebar_menu_name {
  color: #ededed;
}

.sidebar_menu_item_selected .sidebar_menu_icon > svg path {
  stroke: #ededed;
}
