.input_wrapper {
  display: flex;
  flex-direction: column;
  /* width: calc(100% / 2 - 20px); */
  gap: 0.5rem;
  margin: 0;
  flex: 1;
}

.input {
  order: 2;
  width: 100%;
  padding: 0.9rem;
  border-radius: 6px;
  transition: all 0.2s;
  border: 1px solid #808080;
  background-color: transparent;
}

.input:focus {
  outline: none;
  border: 1px solid var(--foreground);

  + .input_label {
    color: var(--foreground);
  }
}

.input_label {
  order: 1;
  font-size: 14px;
  color: #808080;
  padding-left: 4px;
  user-select: none;
  transition: all 0.2s;
}

.input_full_width {
  width: 100%;
  min-width: 100% !important;
  & .input {
    width: 100%;
  }
}

.input_helper_text {
  order: 3;
  font-size: 12px;
  font-weight: 600;
  color: #808080;
}

.input_error {
  border: 1px solid var(--danger-color) !important;
  + .input_label {
    color: var(--danger-color) !important;
  }

  &::placeholder {
    color: var(--danger-color) !important;
  }
}

.input_error_text {
  order: 4;
  /* width: 100%; */
  width: calc(100% - 20px);
  font-size: 12px;
  font-weight: 600;
  color: var(--danger-color);
}

@media screen and (max-width: 584px) {
  .input_wrapper {
    flex: content;
    width: 100%;
  }
}
