.chip_wrapper {
  gap: 0.25rem;
  height: 30px;
  display: flex;
  padding: 0.5rem;
  max-width: 150px;
  /* margin-top: 0.5rem; */
  /* margin-bottom: 0.5rem; */
  width: min-content;
  flex-direction: row;
  align-items: center;
  border-radius: 100px;
  padding-top: 0.25rem;
  transition: all 0.2s;
  justify-content: center;
  padding-bottom: 0.25rem;
  background-color: rgba(var(--color-primary), 0.25);
  border: 2px solid rgb(var(--color-primary-light));

  & p {
    font-size: var(--text-sm);
    font-weight: var(--font-medium);
    color: #cca4ff;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.chip_wrapper:hover {
  cursor: pointer;
  z-index: 1;
  transform: scale(1.025);
}

.chip_full_width {
  width: 100% !important;
  min-width: 100% !important;
}

.chip_icon svg path {
  stroke: #cca4ff;
}
