.button_wrapper {
  margin: 0;
  border: 0;
  padding: 1rem;
  font-weight: 600;
  overflow: hidden;
  border-radius: 6px;
  white-space: nowrap;
  transition: all 0.2s;
  background-color: rgb(var(--primary-color));
  border: 1px solid rgb(var(--primary-color));
}

.button_wrapper:hover {
  cursor: pointer;
  transform: scale(1.025);
  border: 1px solid rgb(var(--border-color-primary));
}

.button_full_width {
  width: 100% !important;
  min-width: 100% !important;
}

.button_small {
  padding: 0.6rem;
  font-size: 12px;
}
