.button_wrapper {
  margin: 0;
  border: 0;
  width: 100%;
  padding: 0.9rem;
  font-weight: 600;
  border-radius: 6px;
  transition: all 0.2s;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.button_wrapper:hover {
  cursor: pointer;
  transform: scale(1.01);
  border: 1px solid var(--border-color-primary);
}
