.button_wrapper {
  margin: 0;
  border: 0;
  padding: 1rem;
  overflow: hidden;
  border-radius: 6px;
  white-space: nowrap;
  transition: all 0.2s;
  font-weight: var(--font-semibold);
  background-color: rgb(var(--color-primary));
  border: 2px solid rgb(var(--color-primary));
}

.button_wrapper:hover {
  cursor: pointer;
  transform: scale(1.025);
  border: 2px solid rgb(var(--color-primary-light));
}

.button_full_width {
  width: 100% !important;
  min-width: 100% !important;
}

.button_small {
  padding: 0.6rem;
  font-size: var(--text-xs);
}
