.header_wrapper {
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.75rem;
  background-color: var(--foreground);
  padding: 1.5rem;
  justify-content: space-between;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header_actions {
  display: flex;
  gap: 1.5rem;
  /* width: 100%; */
  flex-direction: row;
}

@media screen and (max-width: 640px) {
  .header_wrapper {
    justify-content: space-between;
  }
}

/* @media screen and (min-width: 640px) {
  .header_sidebarmenu_hidden {
    display: none !important;
  }
} */
